*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 5px;
    background:#909fbb;
    width: 100%;
    position: fixed;
}
.spacer{
    height: 150px
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    font-size: 24px;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    background: #1b212c;
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
h4{
    font-size: 24px;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-right: 25px;
    padding-left: 25px;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #131720;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col{
    flex-basis: 25%;
    padding: 10px;
    min-width: 300px;
    margin-bottom: 50px;
    margin-top: 50px;
    background-color: #576a8e;
    color:#131720;
    align-content: center;
    /*
    border: 1px solid black;
    */
}
.col img{
    border: 2px solid #303b4f;
    border-radius: 5%;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
}
.col p{
 
    font-size: 20px;
}
.allbuttons{
    align-content: center;
}
.addcartbut{
    display: inline-block;
    width: 90%;
    margin: 30px 0px;
    background: #82c7a5;
    color: #377b59;
    border-radius: 30px;
    font-size: 20px;
    height: 45px;
    border:0px;
}

.rembut{
    display: none;
    width: 90%;
    margin: 30px 0px;
    background:#ff9999;
    color: #b30000;
    border-radius: 30px;
    font-size: 20px;
    height: 45px;
    border: 0px;
}
.qty{
    cursor: pointer;
    display: none;
    width: 35%;
    height: 45px;
    text-align: center;
    background: #82c7a5;
    color: #377b59;
    border-radius: 2px;
    border: 0px;
    font-size: 40px;
}
input{
    border: 0;
    width: 25%;
    background-color: #576a8e;
    color:#131720;
    display: none;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
	height: 45px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#cartsection{
    display: none;
    align-items: center;
}
.thecart{
    background-color: white;
    font-family: "VT323", monospace;
    text-transform: Uppercase;
}
.carttitle{
    text-align: center;
    line-height: 50px;
}
table{
    border-collapse: collapse;
    text-align: center;
    width: 75%;
    background-color: white;
    color: black;    
}
.tblhead{
    background: #d9d9d9;
  }
td{
    padding: 10px;
    font-size: 14px;
    text-align: left;
}
.spacer2{
    height: 40px;
}

span{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.purchasebut{
    display: inline;
    width: 80%;
    margin: 30px 0px;
    background:#82c7a5;
    color: white;
    border-radius: 30px;
    transition: background 0.5s;
    font-size: 20px;
    height: 45px;
}


.footer{
    background-color: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: white;
    margin-bottom: 20px;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
    text-align: center;
}
.footer-col-2{
    flex:1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3,.footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copy{
    text-align: center;
}


@media only screen and (max-width: 500px){
    .row{
        text-align: center;
    }
    /* Review for 2 columns*/
    .col{
        align-items: center;
    }
}
