<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Script for dropIn UI -->
        <script src="https://js.braintreegateway.com/web/dropin/1.24.0/js/dropin.min.js"></script>
        <!-- <link rel="stylesheet" href="Index.css" /> -->
        <title>Title</title>
    </head>
    <body>
      <label for="amount">Enter amount : </label><br>
      <input type="text" id="amount" name="amount" value="10"><br>
    <div id="dropin-container"></div>
  <button id="submit-button">Pay</button>
  <script>
    var button = document.querySelector('#submit-button');

    braintree.dropin.create({
      authorization: 'sandbox_ktffyjdn_vtj2pcb46ytpj78b',
      container: '#dropin-container',
      venmo: {}
    }, function (createErr, instance) {
      button.addEventListener('click', function () {
        instance.requestPaymentMethod(function (requestPaymentMethodErr, payload) {
          // Submit payload.nonce to your server
        });
      });
    });
  </script>
    </body>
</html>