{% extends 'base.html' %}

{%block head %}
<title>Essential Machine</title>

{% endblock %}

{% block body %}
<div class="small-container">
    <h1 class="title">Products</h1>
    <div class="row">
        {% for product in products %}
    <div class="col">
        <img src='{{product.img_path}}' />
        <h4>{{product.name}}</h4>
        <p>${{product.price}}</p>
        <button class="addcartbut" id="addcart{{product.id}}" onclick="handleaddcart('{{product.name}}','{{product.price}}','{{product.id}}')">Add to Cart</button>
        <button class="qty" id="dec{{product.id}}" onclick="decrement('{{product.id}}','{{product.price}}','{{product.maxqty}}')">-</button>
        <input class="quantityinput" id="quant{{product.id}}" value="1" min="1" max= "10" type="number">
        <button class="qty" id='inc{{product.id}}' onclick="increment('{{product.id}}','{{product.price}}','{{product.maxqty}}')">+</button>
        <button class="rembut" id="rem{{product.id}}" onclick="removebutton('{{product.id}}')" type="button">REMOVE</button>
    </div>
    {% endfor %}
        <div class="spacer2" id="scrollcart">
            &nbsp;
        </div>
        <div class="cartsection" >
            <h2 class="carttitle">CART</h2>
        <table border="2" id="trycart">
            <tr>
                <td>Product Name</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Total</td>
        </table>
        <span id="val"></span>
        </div>
        <div class="bt-drop-in-wrapper">
            <div id="bt-dropin"></div>
        </div>
        <input type="button" class="purchasebut" value="Purchase" id="purchase-button"/>
    </div>

</div>
{% endblock %}

